#b {
		background-color: #FFFFFF;
	}


.proov{
	padding-top:100px;
	padding-left:100px;
}

.tree li {
      cursor: pointer;
    }
	
	.inter {
		padding-left:100px;
		padding-top:25px;
		background-color:#FFFFFF;
		
	}
	
	.kasutus {
		font-weight: bold;
		list-style-type: none;
	}
	
	
	
	
	
  